@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Racing+Sans+One&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Quicksand&family=Racing+Sans+One&family=Righteous&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
}

.body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

/* CONTAINERS */

.separated-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.vert-center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* GENERAL */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.5);
    position: sticky;
    top: 0;
}

footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    margin-top: 20px;
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer .linkedin-icon {
    color: #2596be;
    font-size: 18pt;
    cursor: pointer;
}

footer .github-icon {
    color: black;
    font-size: 18pt;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 600px;
    padding: 10px;
    font-size: 14pt;
}

.nav-link {
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
    font-weight: bold;
    color: mediumpurple;
}

.name {

    font-size: 36pt;
    background-color: lavender;
    border-radius: 5px;
}

.centered {
    text-align: center;
}

/* HOME */

.quote {
    font-family: 'La Belle Aurore', cursive;
    font-size: 18pt;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 2px 2px 2px lavender;
    margin: 20px;
    padding: 10px;
}

.home-container {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
}

.statement {
    max-width: 400px;
    padding: 10px;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 2px lavender;
    font-size: 16pt;
    margin: 10px;
}

.home-pic {
    max-width: 400px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 2px 2px 2px lavender;
}


/* RESUME */
.resume {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 14pt;
    /* border: 2px solid whitesmoke;
    border-radius: 5px;
    padding: 10px; */

}

.resume-name {
    font-size: 28pt;
    /* background-color: whitesmoke; */
}

.resume .title {
    margin: 5px;
    font-size: 18pt;
    font-weight: bold;
}

.resume .subtitle {
    display: flex;
    align-items: center;
    font-size: 16pt;
}

.resume .resume-element {
    /* display: inline-flex; */
    padding: 5px;
    margin: 5px;
    /* background: rgba(237, 237, 237); */
    background-color: whitesmoke;
    border-radius: 5px;
}

.usu {
    color: #0F2439;
    font-weight: bold;
}

.fs {
    color: #e12029;
    font-weight: bold;
}

.ncees {
    color: #d42b2e;
    font-weight: bold;
}

.sw {
    color: #ec2424;
    font-weight: bold;
}

.git {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    background-color: whitesmoke;
}

.icon-logo {
    width: 1em;
    margin-right: 5px;
}

.education-element {
    /* background: rgba(200, 200, 245, 0.5); */
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    box-shadow: 3px 3px 4px rgb(208, 208, 208);
}


.certification-element {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    box-shadow: 3px 3px 4px rgb(208, 208, 208);
}

.certification-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

.skillbox-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px;
}

.skillbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 80px;
    border-radius: 5px;
    background-color: whitesmoke;
}

.skill-icon {
    font-size: 4rem;
}

.skill-element {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    box-shadow: 3px 3px 4px rgb(208, 208, 208);
}

.course-container {
    display: flex;
    flex-flow: column wrap;
    align-content: space-evenly;
    gap: 5px;
    padding: 5px;
    max-height: 200px;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    box-shadow: 3px 3px 4px rgb(208, 208, 208);

}

.course {
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    background-color: whitesmoke;
}

.experience-container {
    padding: 5px;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    box-shadow: 3px 3px 4px rgb(208, 208, 208);
}

.experience {

}


/* PROJECTS */

.project-statement {
    max-width: 400px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: whitesmoke;
}

.projects-preview-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 1000px;
    background-color: whitesmoke;
    border-radius: 5px;
}

.slider {
    overflow-x: scroll;
    scroll-behavior: smooth;
    white-space: nowrap;
    scrollbar-width: none;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider-nav {
    font-size: 6rem;
    cursor: pointer;
}

.slider-nav:hover {
    scale: 120%;
    color: mediumpurple;
}

.project-preview {
    display: inline-block;
    margin: 20px;
    width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 5px;
    background-color: aqua;
}

.project-preview:hover {
    scale: 105%;
}

.project-info-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 40%;
    min-width: 400px;
    border-radius: 5px;
    background-color: whitesmoke;
}

.project-name {
    padding: 10px;
    /* background-color: maroon; */
    font-size: 16pt;
    font-weight: bold;
}

.project-description {
    padding: 10px;
    margin: 20px;
    background-color: white;
}

.project-collaboration {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-top: 10px;
}

.project-skills-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.project-skill {
    padding: 2px;
    margin: 5px;
    border-radius: 2px;
    background-color: white;
}

.github-link {
    align-self: flex-end;
    margin: 10px;
}